$primary-color: #52555f;
$accent-color: #ff751d;
$white: #fff;
$black: #000;
$incomSum-color: #407946;
$expenseSum-color: #e7192e;
$backgroundIcon-color: #dfe2eb;
$placeholderRegist-color: #a6abb9;
$placeholderBalance-color: #c7ccdc;
$tableHeader-color: #f5f6fb;
$backgroun-color: #f2f5fc; ;
