.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  text-align: center;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  padding: 20px;
}

.modal__button__thumb {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal__close_button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
